h1{
  font-family: "Helvetica Neue", Sans-serif;
  font-weight: 100;
  font-size: 4.5em;
  margin-top: -10px;

}
label{
  font-family: "Helvetica Neue", Sans-serif;
  font-weight: 100;
}
section{
  position: absolute;
  height: 100%;
  width: 100%;
}
img{
  width: 200px;
  height: 200px;
  margin-top:8px;
}
button{
  font-family: "Helvetica Neue", Sans-serif;
  font-weight: 100;
  padding: 5px 35px 5px 35px;
  background-color: transparent;
  border: 1px black solid;
  font-size: 2.5em;
}
div{
  background-color: rgb(90,90,90);
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px 0px 20px 0px;
}
p{
  font-family: "Helvetica Neue" , Sans-serif;
  font-weight: 100;
  color: white;
  font-size: 30px;
}
header{
  background-color: rgb(140,140,140);
  position: absolute;
  bottom: 130px;
  width: 100%;

}
h2{
  font-family: "Helvetica Neue", Sans-serif;
  font-weight: 100;
  font-style: 2em;
}
#card{
  position: absolute;
  background-color: white;

}
