{% include 'header.html' %}

<body>
  <section>
    <center>
        <img src= "{{ url_for('static', filename="img/mmmmm.png") }}" >
        <h1 class="selectable">AutoVest</h1>

<form action='/login' method='post'>
  <label for='name'>Name</label>
  <input name='name' type='text'></input>

  <br>
  <br>

  <label for='password'>Password</label>
  <input name='password' type='text'></input>

  <br>
  <br>

  <input type='submit'></input>
</form>

{% include 'footer.html' %}


</center>
</section>

</body>
